// Project: <<ProjectName>> - Resources
// File: MockDev_tvOS.xcconfig
// Copyright © <<YYYY>> <<DeveloperNameSurname>>. All rights reserved.
//
// Created by <<DeveloperNameSurname>>(<<DeveloperMail>>) on <<DD.MM.YYYY>>.

#include "../Base/Base_tvOS.xcconfig"
#include "MockDev.xcconfig"

// MARK: - Custom Configurations

// MARK: - Default Configurations
